# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
venv/
.env/

# Variables de entorno
.env

# ChromaDB
chroma_db/

# Streamlit
.streamlit/

# VS Code
.vscode/

# JetBrains
.idea/

# Windows
Thumbs.db
Desktop.ini

# Logs
*.log